{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Build your Portfolio
{% endblock %}


{% block content %}


<div class="container">
  <form class="form-signin" method="POST" action="/portfolio_build">
    <h2 class="form-signin-heading">Basic Portfolio Information</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.portfolio_type) }}
    {{ wtf.form_field(form.initial) }}
    <h2 class="form-signin-heading">Risk</h2>   
    {{ wtf.form_field(form.target) }}
    {{ wtf.form_field(form.priority) }}
    {{ wtf.form_field(form.tolerance) }}
    <h2 class="form-signin-heading">Structure</h2>  
    {{ wtf.form_field(form.us_equities) }}
    {{ wtf.form_field(form.treasury) }} 
    {{ wtf.form_field(form.int_equities) }} 
    {{ wtf.form_field(form.commodities) }} 
    {{ wtf.form_field(form.real_estate) }} 
    {{ wtf.form_field(form.mlps) }} 
    {{ wtf.form_field(form.int_bonds) }}
    <h2 class="form-signin-heading">Restrictions</h2>
    <p>
        Below select which industry sectors you would like to EXCLUDE from Harv AI and our Analysts to consider
    </p>
    {{ wtf.form_field(form.financial) }}
    {{ wtf.form_field(form.utilities) }} 
    {{ wtf.form_field(form.health_care) }} 
    {{ wtf.form_field(form.con_dis) }} 
    {{ wtf.form_field(form.energy) }} 
    {{ wtf.form_field(form.industrials) }} 
    {{ wtf.form_field(form.con_staples) }}
    {{ wtf.form_field(form.re) }}
    {{ wtf.form_field(form.tech) }} 
    {{ wtf.form_field(form.materials) }} 
    {{ wtf.form_field(form.telco) }} 
    {{ wtf.form_field(form.etf) }} 
    {{ wtf.form_field(form.restricted) }}
    <h2 class="form-signin-heading">Strategy</h2>
    <p>
        Below select which strategy you would like this portfolio to be focused on.  Typically growth stocks are better in strong economic growth scenarios where companies are constantly reporting positive earning growth.  Value based apparoch are typically better when the economy is recovering, however value stocks will lag once a sustained bull market is achieved.
    </p>
    {{ wtf.form_field(form.strategy) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Portfolio</button>
  </form>

</div> <!-- /container -->
<p><p><p></p>
{% endblock %}